/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.c6{
  color: #666;
}
html, body {
  padding: 0;
  margin:0;
}
.dt{
  display: table;
}
.dtc{
  display: table-cell;
}
.vat{
  vertical-align: top;
}
.vam{
  vertical-align: middle;
}
.mbsm{
  margin-bottom: 10px;
}
.mrsm{
  margin-right: 10px;
}
.inline{
  display: inline-block;
}
.palg{
  padding: 20px;
}
.w{
  width: 100%;
}
.center{
  text-align: center;
}
.centered{
  margin-left:auto;
  margin-right: auto;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.dialog{
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
.dialog-body{
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  margin-top:100px;
  max-height: 600px;
  overflow: scroll;
}
.dialog-title{
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: 400;
}
.dialog-content{
  padding: 10px;
}
.dialog-footer{
  border-top: 1px solid #eee;
  padding: 10px;
}
.scroll{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}